@page
@model HEquityJefferson.Pages.CarsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Cars - Jefferson Calado";
}
<script src="~/js/scripts.js"></script>
<link href="~/css/styles.css" rel="stylesheet" />

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Guess the price - Jefferson Calado</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    </div>
</nav>

@{if (Model.Success == "1")
    {
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>

            <p>@Model.Message</p>
            <hr>
        </div>

    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Give your best shot!</h4>

            <p>@Model.Message</p>
            <hr>
        </div>
      
    }

}


<form method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>Enter in a guess: </label><input type="number" name="guessprice" value="" />
                </th>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Car[0].Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car[0].Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car[0].Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car[0].Doors)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car[0].Color)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Car[0].Price)
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in Model.Car)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Make)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Doors)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Color)
                    </td>


                    <td>

                        <button asp-page-handler="Check" asp-route-id="@item.Id" asp-route-price="@item.Price" type="submit">Guess</button>

                    </td>

                </tr>
            }


        </tbody>
    </table>
</form>




